<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Files</title>
</head>
<body>
<h1>Uploaded Files</h1>
<ul>
    <% if (files && files.length > 0) { %>
        <% files.forEach(file => { %>
            <li><a href="/files/parse/<%= file %>"><%= file %></a></li>
        <% }); %>
    <% } else { %>
        <li>No files uploaded yet.</li>
    <% } %>
</ul>
<br>
<a href="/">Upload Another File</a>
</body>
</html>