<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple GPX Routes</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
</head>
<body>
<h1>Multiple GPX Routes</h1>
<div id="map" style="width: 100%; height: 900px;"></div>
<script>
    var map = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    <% gpxFiles.forEach(file => { %>
    new L.GPX('/uploads/extracted/<%= file %>', {
        async: true,
        polyline_options: {
            color: 'orange',
            opacity: 0.75,
            weight: 2,
            lineCap: 'round'
        },
        marker_options: {
            startIconUrl: '',  // Empty string to remove start icon
            endIconUrl: '',    // Empty string to remove end icon
            shadowUrl: ''      // Empty string to remove shadow icon
        }
    }).on('loaded', function(e) {
        map.fitBounds(e.target.getBounds());
    }).addTo(map);
    <% }); %>
</script>
<br>
<a href="/">Upload Another File</a>
</body>
</html>
